.body{
    background-color: rgb(27, 27, 27);
    position: relative;
}

header{
    background-color: rgb(190, 79, 79);
    padding: 15px;
}

.col-6{
    color: white;
    border-radius: 6px;
}
img{
    max-width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
}